@import "tailwindcss";
@config "../tailwind.config.ts";
@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased selection:bg-primary selection:text-background;
    /* La proprietà selection personalizzata dimostra un'estrema cura dei dettagli UX */
  }
}

/* Utilità per nascondere la scrollbar mantenendo lo scroll (ottimo per design puliti) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}